.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 968px) {
  .card {
    width: 225px;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .card {
    width: 300px;
    height: 400px;
  }
}

.card h2 {
  font-size: 3rem;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 968px) {
  .card h2 {
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .card h2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 968px) {
  .card h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 576px) {
  .card h2 {
    font-size: 3rem;
  }
}

.card h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

@media (max-width: 968px) {
  .card h3 {
    font-size: 2.4rem;
  }
}

@media (max-width: 576px) {
  .card h3 {
    font-size: 2.8rem;
  }
}

.card__note {
  color: #3c1318;
  background-color: #fcdfdb;
}

.card__note h2 {
  font-family: Devonshire, cursive;
}

.card__note h3 {
  font-family: Itim, cursive;
  font-style: italic;
}

.card__chic {
  background-color: #fff5fe;
}

.card__chic h2 {
  font: 2.5rem Kurale, serif;
  background: -webkit-linear-gradient(-45deg, #d8852d, #8f5cfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 968px) {
  .card__chic h2 {
    font-size: 1.9rem;
  }
}

@media (max-width: 576px) {
  .card__chic h2 {
    font-size: 2.5rem;
  }
}

.card__chic h3 {
  font: 2.5rem "Frank Ruhl Libre", serif;
  color: #c77413;
}

@media (max-width: 968px) {
  .card__chic h3 {
    font-size: 1.9rem;
  }
}

@media (max-width: 576px) {
  .card__chic h3 {
    font-size: 2.5rem;
  }
}

.card__delice {
  background-color: #f9f9f9;
}

.card__delice h2 {
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(-45deg, #0f06de, #007ff8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__delice h3 {
  font-family: Kalam, cursive;
  color: #1388fb;
}

.card__palette {
  background-color: #fdfffd;
}

.card__palette h2 {
  font-family: "Kaushan Script", cursive;
  background: -webkit-linear-gradient(-45deg, #248c15, #bdff77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__palette h3 {
  font-family: Kalam, cursive;
  color: #68bc48;
}

article {
  position: relative;
}

article .note {
  position: absolute;
  top: 75px;
  height: 60px;
}

@media (max-width: 968px) {
  article .note {
    top: 55px;
    height: 45px;
  }
}

@media (max-width: 576px) {
  article .note {
    top: 75px;
    height: 60px;
  }
}

.card:hover > img,
.card:hover > h2,
.card:hover > h3 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.5;
}

.card > img,
.card > h2,
.card > h3 {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.menu {
  font: 1.8rem Kalam, cursive;
  min-height: 900px;
  padding: 75px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .menu {
    font-size: 1.6rem;
    width: initial;
    margin: 0;
    padding: 50px 10px 0;
  }
}

.menu__header {
  margin-bottom: 50px;
}

.menu__header .note {
  height: 70px;
}

.menu h3 {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .menu h3 {
    font-size: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu h3 > span[class*="underline"] {
    margin: 0 10px;
  }
}

.menu h3:not(:first-of-type) {
  margin-top: 30px;
}

.menu h3 > img {
  height: 6px;
}

@media (max-width: 768px) {
  .menu h3 > img {
    height: 2px;
  }
}

.menu__line {
  line-height: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .menu__line {
    line-height: 1.5rem;
    display: block;
  }
}

.menu__line p.bold {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .menu__line p.bold {
    font-size: 1.8rem;
    margin-top: -5px;
  }
}

span.underline {
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  background: linear-gradient(to top, transparent 4px, green 4px, green 6px, transparent 6px) no-repeat;
  background-size: 0 100%;
}

span.underline:hover {
  background-size: 100% 100%;
}

.menu-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 1350px;
  margin: 50px auto 60px;
  grid-gap: 50px;
}

@media (max-width: 1440px) {
  .menu-container {
    width: 650px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 968px) {
  .menu-container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .menu-container {
    width: 300px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 25px 0;
  }
}

.container-menu {
  max-width: 968px;
  margin: 50px auto;
}

@media (max-width: 968px) {
  .container-menu {
    margin: 0;
  }
}

footer {
  font: 2rem Nunito, sans-serif;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #579c87;
}

@media (max-width: 968px) {
  footer {
    font-size: 1.8rem;
    height: 50px;
  }
}

@media (max-width: 576px) {
  footer {
    font-size: 1.6rem;
  }
}

footer a {
  color: #fdcb47;
}

footer .footer__mentions {
  margin-left: 25px;
}

footer .footer__contact {
  margin-right: 25px;
}

[class^="footer__"] h4:hover {
  -webkit-animation: wiggle infinite;
          animation: wiggle infinite;
}

@-webkit-keyframes wiggle {
  10%,
  50%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  25%,
  75% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes wiggle {
  10%,
  50%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  25%,
  75% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  background-color: #579c87;
}

@media (max-width: 968px) {
  header {
    height: 80px;
  }
}

header img {
  height: 50px;
  padding-top: 10px;
}

@media (max-width: 968px) {
  header img {
    height: 45px;
  }
}

.menu--chic {
  font: 400 1.8rem "Frank Ruhl Libre", serif;
  color: #a56799;
  background-color: #fff5fe;
}

@media (max-width: 576px) {
  .menu--chic {
    font-size: 1.7rem;
  }
}

.menu--chic h2 {
  font: 4rem Kurale, serif;
  background: -webkit-linear-gradient(-45deg, #d8852d, #8f5cfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .menu--chic h2 {
    font-size: 3rem;
  }
}

.menu--chic h3 {
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .menu--chic h3 {
    font-size: 1.8rem;
  }
}

.menu--chic h3:nth-of-type(1) {
  color: #c67411;
}

.menu--chic h3:nth-of-type(2) {
  color: #a56799;
}

.menu--chic h3:nth-of-type(3) {
  color: #6e4ccc;
}

.menu--chic h3 > img {
  height: 7px;
}

@media (max-width: 576px) {
  .menu--chic h3 > img {
    height: 2px;
  }
}

.container-menu__menu__line--orange {
  color: #c67411;
}

.container-menu__menu__line--vin {
  color: #a56799;
}

.container-menu__menu__line--violet {
  color: #6e4ccc;
}

.container-menu__menu__line p:last-of-type {
  font-size: 1.9rem;
  font-weight: bold;
}

span.underline-orange {
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  background: linear-gradient(to top, #c67411 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
}

span.underline-orange:hover {
  background-size: 100% 100%;
}

span.underline-vin {
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  background: linear-gradient(to top, #a56799 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
}

span.underline-vin:hover {
  background-size: 100% 100%;
}

span.underline-violet {
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  background: linear-gradient(to top, #6e4ccc 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
}

span.underline-violet:hover {
  background-size: 100% 100%;
}

.menu--delice {
  background-color: #f9f9f9;
}

.menu--delice h2 {
  font: 5rem "Dancing Script", cursive;
  background: -webkit-linear-gradient(-45deg, #0f06de, #007ff8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .menu--delice h2 {
    font-size: 3.5rem;
  }
}

.mentions {
  font: 1.6rem Nunito, sans-serif;
  padding: 50px 50px;
}

@media (max-width: 768px) {
  .mentions {
    padding: 50px 10px 0;
  }
}

.menu--note {
  color: #3c1318;
  background-color: #fcdfdb;
}

@media (max-width: 768px) {
  .menu--note {
    padding: 50px 10px;
  }
}

.menu--note h2 {
  font: 5rem Devonshire, cursive;
}

@media (max-width: 768px) {
  .menu--note h2 {
    font-size: 4rem;
  }
}

.menu__footer {
  font: 3.5rem Devonshire, cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}

@media (max-width: 768px) {
  .menu__footer {
    font-size: 3rem;
    margin-top: 50px;
  }
}

.menu__footer .note {
  height: 40px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .menu__footer .note {
    height: 30px;
  }
}

span.underline--note {
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  background: linear-gradient(to top, transparent 4px, #e9d419 4px, #371fc0 6px, transparent 6px) no-repeat;
  background-size: 0 100%;
}

span.underline--note:hover {
  background-size: 100% 100%;
}

.menu--palette {
  background-color: #fdfffd;
}

.menu--palette h2 {
  font: 5rem "Kaushan Script", cursive;
  background: -webkit-linear-gradient(-45deg, #248c15, #bdff77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .menu--palette h2 {
    font-size: 3.5rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0 0 120px;
}

@media (max-width: 968px) {
  body {
    margin: 0 0 100px;
  }
}

@media (max-width: 968px) {
  body.footer-fix {
    margin: 0 0 50px;
  }
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  margin: 0;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
/*# sourceMappingURL=main.css.map */