// Colors
$color-green: #579c87;
$color-yellow: #fdcb47;
$color-note: #fcdfdb;
$color-chic: #fff5fe;
$color-delice: #f9f9f9;
$color-palette: #fdfffd;
// Fonts
$font-omf: Nunito, sans-serif;
$font-note: Devonshire, cursive;
$font-chic: Kurale, serif;
$font-delice: "Dancing Script", cursive;
$font-palette: "Kaushan Script", cursive;
$font-menu-note: Itim, cursive;
$font-menu-chic: "Frank Ruhl Libre", serif;
$font-menu-delice: Kalam, cursive;
$font-menu-palette: Kalam, cursive;
// Dimensions
$card-width: 300px;
$card-height: 400px;
$card-margin: 50px;
